<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title></title>
</head>
<body>

<nav>
  <ul>
    <li><a href="/">Comp2068- Lab4</a> </li>
    <li><a href="/Tiffany">Tiffany</a> </li>
    <li><a href="/Deborah">Deborah</a> </li>
    <li><a href="/Jay">Jay</a> </li>
    <li><a href="/Billy">Billy</a> </li>
  </ul>

</nav>