<% include ./partials/header.ejs %>
<h1>Billy (Little Brother)</h1>
<p>Billy is my baby brother. He is 7 years younger than me.</p>
<p> Billy is a paramedic and moved to Newfoundland when he got a great job offer</p>
<p>Billy has a dog that weighs more than him. She is a Cane Corso.</p>
<% include ./partials/footer.ejs %>tml>