<% include ./partials/header.ejs %>
<h1>Deborah (Mother) </h1>
<p>Deborah is my mother, she is a Nurse.</p>
<p> She went back to school 5 years ago after leaving her job to follow her dream of nursing</p>
<p>She has a ranch with 86 Acres in Muskoka.</p>
<% include ./partials/footer.ejs %>