<% include ./partials/header.ejs %>
<h1>Jay (Big Brother)</h1>
<p>Jay is my big brother</p>
<p> He works at a factory in Manitoba (where we are from) as a colour manager</p>
<p>Which is hilarious because he's colour blind.</p>
<p>He has 5 kids. He's crazy</p>
<% include ./partials/footer.ejs %>