<% include ./partials/header.ejs %>
 <h1>Tiffany (Me) </h1>

<p>This is a website about my family, I have a mom and two brothers.</p>
   <p> I am a student at Georgian with a double Major in Computer Programming
     and Computer Systems Technician Networking.</p>
<p>I have 3 children <3 .</p>
<% include ./partials/footer.ejs %>